
<r-card>
    <span>card works!</span><br>
    <span>card works!</span><br>
    <span>card works!</span><br>
    <span>card works!</span><br>
    <span>card works!</span><br>
    <span>card works!</span><br>
    <span>card works!</span><br>
    <span>card works!</span><br>
    <span>card works!</span><br>
    <span>card works!</span><br>
    <span>card works!</span><br>
    <span>card works!</span><br>
    <span>card works!</span><br>
    <span>card works!</span><br>
    <span>card works!</span><br>
    <span>card works!</span><br>
    <span>card works!</span><br>
</r-card>