<div style="padding: 0.5rem">
  <r-card>
    <span>card works!</span><br /><br /><br />
    <span>card works!</span><br /><br /><br />
    <span>card works!</span><br /><br /><br />
    <span>card works!</span><br /><br /><br />
    <span>card works!</span><br /><br /><br />
    <span>card works!</span><br /><br /><br />
    <span>card works!</span><br /><br /><br />
    <span>card works!</span><br /><br /><br />
    <span>card works!</span><br /><br /><br />
    <span>card works!</span><br /><br /><br />
    <span>card works!</span><br /><br /><br />
    <span>card works!</span><br /><br /><br />
    <span>card works!</span><br /><br /><br />
    <span>card works!</span><br /><br /><br />
    <span>card works!</span><br /><br /><br />
    <span>card works!</span><br /><br /><br />
    <span>card works!</span><br /><br /><br />
  </r-card>
</div>
