<r-button label="Button primary" (onClick)="onClick($event)"></r-button>
<r-button icon="home" (onClick)="onClick($event)"></r-button>
<r-button
  label="Button primary"
  icon="home"
  (onClick)="onClick($event)"
></r-button>

<r-button
  severity="sucess"
  label="Button primary"
  (onClick)="onClick($event)"
></r-button>
<r-button
  severity="secondary"
  icon="home"
  (onClick)="onClick($event)"
></r-button>
<r-button
  severity="warn"
  label="Button primary"
  icon="home"
  (onClick)="onClick($event)"
></r-button>
