<app-documentation-page
  [importPath]="importPath"
  [componentName]="'Button'"
  [description]="description"
>
  @for (button of buttonGroups; track $index) {
  <r-card>
    <div class="section">
      <h3 class="title-card">{{ button.title }}</h3>
      <div class="card-btns">
        @for (btn of button.buttons; track $index) {
        <r-button
          [label]="btn.label"
          [icon]="btn.icon"
          [severity]="btn.severity"
          (onClick)="onClick(button.title, btn.severity)"
        />
        }
      </div>
      <r-code [code]="button.code"></r-code>
    </div>
  </r-card>
  }
</app-documentation-page>
