<div class="page-container">

  @for (button of buttonGroups; track $index) {
    <div class="section">
      <h2 class="title-card">{{ button.title }}</h2>
      <div class="card-btns">
        @for (btn of button.buttons; track $index) {
          <r-button
            [label]="btn.label"
            [icon]="btn.icon"
            [severity]="btn.severity"
            (onClick)="onClick( button.title, btn.severity )"
          />
        }
      </div>
      <r-code [code]="button.code" maxWidth="550px"></r-code>
    </div>
  }

</div>


<r-toast *ngIf="toastService.toast$ | async as toast"
         [message]="toast.message"
         [type]="toast.type">
</r-toast>